.screen-div {
  width: 90px;
  height: 54px;
  padding: 10px;
  overflow: hidden;
  &.no-transform {
    width: 62vw;
    height: 80vh;
    display: block;
    top: -20px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    // TODO add style for mobile / smaller than 1080p
  }
  .wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: rotateX(-15deg) rotateZ(0deg);
    .idle-iframe {
      transform-origin: top left;
      transform: scale(0.317, 0.35);
    }
    .pp-iframe {
      width: 100%;
      height: 100%;
      transform: scale(1, 1);
    }
  }
}
